.header {
  background: #2e6c9e;
  padding: 2rem 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls {
  display: flex;
  align-items: center;
}

.setting,
.mic,
.navigation {
  font-size: 2rem;
}

.mic {
  margin-right: 2rem;
}
